.side{
    position: absolute;
    left: 0px;
    top: 0px;
}
.desc{
    position: absolute;
    padding: 5px;
    top:150px;
    background-color: #AAAAAA;
    left: 210px;
    width:50%;
    box-shadow: 10px 10px;
}

.indent{
    text-indent: 50px;
}

.portrait{
    position: absolute;
    box-shadow: 10px 10px;
    left: calc(50% + 230px);
    top: 160px;
    width: 30%;
}

.nav-bar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top:90px;
    right:0px;
    left:0px;
    background-color: #AAAAAA;
    overflow: hidden;
    border-style: outset;
    border-width: 3px;
}

.nav-bar a {
    float: left;
    color: #444444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav-bar a:hover {
    background-color: #888888;
    color:#FFFFFF;
}

.nav-bar a.active {
    background-color: #17569b;
    color: #FFFFFF
}
