.inline-block {
   position:relative;
   display:inline-block;
   vertical-align: bottom;
   width: 100%;
   margin:auto;
   
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

.inline-vid {
   position:relative;
   display:inline-block;
   vertical-align: top;
   width: 100%;
   margin:auto;
   
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

.float-vid{
   vertical-align: top;
   float:left;
}

.float-chat{
   vertical-align: top;
   float:right;
}

.inline-chat {
   float: right;
   position:absolute;
   vertical-align: top;
   width: 20%;
}

.inline {
   display: inline;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.right{
   position: absolute;
   bottom:0px;
   right:0px;
}

.left{
   position: absolute;
   bottom:0px;
   left:0px;
}

img.bottom{
    vertical-align: bottom;
}

.nav-bar {
    background-color: #FF00FF;
    overflow: hidden;
    border-style: outset;
    border-width: 3px;
}

.nav-bar a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.nav-bar a:hover {
    background-color: #AA00AA;
    color:#FFFFFF;
}

/* Add a color to the active/current link */
.nav-bar a.active {
    background-color: #FFAA00;
    color: #FFFFFF
}
