.inline-block {
   display: inline-block;
}

.banner {
   display: block;
   width: 620px;
   height: 155px;
   position: absolute;
   margin-right: auto;
   margin-left: auto;
   

}

.right{
   width: 96px;
   height: 62px;
    position: absolute;
    right: 100%;
}

img.bottom{
    vertical-align: bottom;
}

.nav-bar {
    background-color: #FF00FF;
    overflow: hidden;
    border-style: outset;
    border-width: 3px;
}

.nav-bar a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.nav-bar a:hover {
    background-color: #AA00AA;
    color:#FFFFFF;
}

/* Add a color to the active/current link */
.nav-bar a.active {
    background-color: #FFAA00;
    color: #FFFFFF
}
