@font-face {
    font-family: "niseSega";
    src: url("https://TorsvikVonClemson.github.io/NiseSega.ttf") format('truetype');
}
@font-face {
    font-family: "modern";
    src: url("https://TorsvikVonClemson.github.io/Modern.ttf") format('truetype');
}

.title{
    position: absolute;
    right:0px;
    left:0px;
    top:0px;
    height: 25%;
    width: 100%;
    box-sizing: border-box;
    font-family:'niseSega',sans-serif;
    font-size:3em;
    
    font-weight:normal;
    font-style:normal;
    color:white;
    text-align: left;
    text-indent:10%;

    /*
    border-width: 1px;
    border-color: green;
    border-style: solid;
    */
}

p.top{
    padding-top:5px;
    background-color: #DD00DD;
}

.bod{
    position: absolute;
    top:25%;
    left:0px;
    right:0px;
    
    background-color: rgba(10,10,10,.8);

    /*
    border-width: 1px;
    border-color: red;
    border-style: solid;
    */

}

.vid{
   position:absolute;
   display:inline-block;
   left:2%;
   top:2%;
   width:45%;

}    
.desc{
   top:7%;
   left:50%;
   width:47%;
   bottom:5px;
   padding-left:10px;
   padding-right:10px;
   padding-bottom:5px;
   text-indent: 50px;
   font-size:1em;
   position:relative;

   background-color: #888888;
   font-family:'modern',serif;    
}

.back{
   position:absolute;
   left:2%;
   bottom:2%;
}

.test{
      
    border-width: 1px;
    border-color: red;
    border-style: solid;
    border-radius: 20px;
}
