@font-face {
    font-family: "niseSega";
    src: url("https://TorsvikVonClemson.github.io/NiseSega.ttf") format('truetype');
}
@font-face {
    font-family: "modern";
    src: url("https://TorsvikVonClemson.github.io/Modern.ttf") format('truetype');
}

.title{
    position: absolute;
    right:0px;
    left:0px;
    width: 100%;
    box-sizing: border-box;
    font-family:'niseSega',sans-serif;
    font-size:3em;
    
    font-weight:normal;
    font-style:normal;
    color:white;
    text-align: left;
    text-indent:10%;

    border-width: 1px;
    border-color: green;
    border-style: solid;
}

p.top{
    padding-top:5px;
    background-color: #DD00DD;
}

.bod{
    position: absolute;
    bottom:0px; 
    top:25%;
    left:0px;
    right:0px;
    
    background-color: rgba(10,10,10,.8);
    
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

.vid{
    position:absolute;
    top: 20%;
    right: 60%;
}    
.desc{
    text-indent: 50px;
    font-size:1em;
    position:absolute;
    top: 5%;
    left: 45%;
    right: 2%;
    background-color: #888888;
    font-family:'modern',serif;    
}

.test{
      
    border-width: 1px;
    border-color: red;
    border-style: solid;
    border-radius: 20px;
}
