@font-face {
    font-family: "niseSega";
    src: url("https://TorsvikVonClemson.github.io/NiseSega.ttf") format('truetype');
}

.title{
    position: absolute;
    right:0px;
    left:0px;
    width: 100%;
    box-sizing: border-box;
    font-family:'niseSega',sans-serif;
    font-size:3em;
    
    font-weight:normal;
    font-style:normal;
    color:white;
    text-align: left;
    text-indent:10%;

    border-width: 1px;
    border-color: green;
    border-style: solid;
}

p {
    background-color: #DD00DD;
}

.bod{
    position: absolute;
    bottom:0px; 
    top:20%;
    left:0px;
    right:0px;
    
    border-width: 1px;
    border-color: red;
    border-style: solid;
}

.test{
      
    border-width: 1px;
    border-color: red;
    border-style: solid;
    border-radius: 20px;
}
